<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand image" href="#"><img src="assets/img/08.png" alt="" /></a>

    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a a routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">envr</a>
            </li>
            <li class="nav-item">
                <a class="nav-link c-active" href="#">gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">news</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">meteo</a>
            </li>
            <li class="nav-item">
                <a routerLink="/contact">contact</a>
            </li>
        </ul>
    </div>
    <i class="fa fa-search" aria-hidden="true"></i>
</nav>
