#green {
    color: #63e31a;
    margin-top: 20px;
}

hr {
    border-top: 2px solid #63e31a;
}


/* .news {
    border: none;
} */

.c-size {
    font-size: small;
    font-style: normal;
    padding-left: 10px;
}

.d-flex {
    margin-left: 100px;
}
