<!-- <div class="row no-gutters slider">
    <div class="col-sm" *ngFor="let slide of slides">
        <img src="{{ slide.Img }}" class="card-img " alt="... " />
        <div class="content">
            <h1>{{slide.Titre}}</h1>
            <p>
                {{slide.Body}}
            </p>
            <div class="d-flex">
                <i class="fa fa-eye mr-2" aria-hidden="true"><span class="c-size">112</span></i>
                <i class="fa fa-comment" aria-hidden="true"><span class="c-size">06</span></i>

            </div>

        </div>


    </div> -->
