<div class="col-sm-6 col-md-8 mt-4 ">
    <div class="card mb-3 card">
        <img src="assets/img/img4.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            </p>
            <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
                <a routerLink="/article"><small class="red">reed more..</small></a>
            </p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/img5.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            </p>
            <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
                <a routerLink="/article"><small class="red">reed more..</small></a>
            </p>
        </div>
    </div>

</div>

<!-- <form>
    <script>
        window.fwSettings = {
            'widget_id': 12000000025,
            'locale': 'en'
        };
        ! function() {
            if ("function" != typeof window.FreshworksWidget) {
                var n = function() {
                    n.q.push(arguments)
                };
                n.q = [], window.FreshworksWidget = n
            }
        }()
    </script>
    <script type='text/javascript' src='https://widget.freshworks.com/widgets/12000000025.js' async defer></script>
</form> -->
